---
export interface Props {
  content: string,
  href: string,
}
const { content, href } = Astro.props;
---

<a href={href}>
  <button class="button">{content}</button>
</a>

<style>
  .button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
</style>